@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.main_div {
    width: 100%;
    height: 100vh;
    background: #05c46b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center_div {
    width: 25%;
    height: 50vh;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 10px 15px -3px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: black;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 3.5px 3.5px #ced6e0;
    padding: 6px 0 2px 0;
    margin-top: 10px;
    margin-bottom: 60px;
    /* box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3); */
}


input {
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
}

button {
    margin-top: 40px;
    min-height: 60px;
    color: hotpink;
    font-size: 40px;
    border: none;
    outline: none;
    padding: 0 15px;
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: 5px 10px 15px -3px rgba(0, 0, 0, 0.6);
}

.btn_green:hover {
    color: #009432;
}

.btn_red:hover {
    color: #d63031;
}

.btn_div { 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 768px) {
    .center_div {
        width: 55%;
    }

    button {
        margin-top: 55px;
        margin-left: 25px;
        margin-right: 25px;
        min-height: 50px;
        width: 50px;
        color: white;
        font-weight: bold;
        font-size: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}